services:
  sagwm-command-central-supervisor:
    container_name: "sagwm-command-central-supervisor"
    build:
      context: .
      dockerfile: Dockerfile.supervisor
      args:
        - CC_INSTALLER_PATH=installer/cc-def-10.15-fix8-lnxamd64.sh
        # - CC_ADMIN_HOST=sagbase.wilow.local
    ports:
      # 8090 8091 8092 8093
      - "8091:8091"
      - "8090:8090"

  sagwm-command-central-supervisor-ol8:
    container_name: "sagwm-command-central-supervisor-ol8"
    build:
      context: .
      dockerfile: Dockerfile.supervisor.oraclelinux
      args:
        - CC_INSTALLER_PATH=installer/cc-def-10.15-fix8-lnxamd64.sh
        # - CC_ADMIN_HOST=sagbase.wilow.local
    ports:
      # 8090 8091 8092 8093
      - "9091:8091"
      - "9090:8090"
